
bin/
obj/
publish/
Releases/
out_portable/
out_setup/
out_singlefile/
*.user
.vs/
*_wpftmp.csproj
TestResults/
*.suo
innosetup.exe
*.csx
*.py
*.log
out_singlefile_compressed/
out_single/
out_single_selfcontained/
out_single_standalone/
release_*/
release_v105.3/
